@model school_management.Models.SchoolSubject

@{
    ViewData["Title"] = "Create";
}

<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Create subject</h1>
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label asp-for="SubjectContent" class="control-label"></label>
                    <input asp-for="SubjectContent" class="form-control" />
                    <span asp-validation-for="SubjectContent" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label for="TeacherId" class="control-label">Teacher</label>
                    <select name="TeacherId" id="TeacherId" class="form-select">
                        @foreach(var teacher in  ViewBag.Teachers){
                             <option value="@teacher.Id">@teacher.GetFullName()</option>
                        }
                    </select>
                </div>
                <div class="col-12 flex-row justify-content-end d-flex mt-3 form-group">
                    <div class="me-2">
                        <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
