@model school_management.Models.SchoolSubject

@{
    ViewData["Title"] = "Details";
}

<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Subject details</h1>
        <div>
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input readonly type="text" class="form-control" id="Name" name="Name" value=@Model.Name>
            </div>
            <div class="mb-3">
                <label for="SubjectContent" class="form-label">Subject content</label>
                <input readonly type="text" class="form-control" id="SubjectContent" name="SubjectContent" value=@Model.SubjectContent>
            </div>
            <div class="mb-3">
                <label for="Teacher" class="form-label">Teacher</label>
                <input readonly type="text" class="form-control" id="Teacher" name="Teacher" value="@Model.Teacher.GetFullName()">
            </div>

            <div class="flex-row justify-content-end d-flex mt-3">
                <div>
                    <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>