@{
    ViewData["Title"] = "Index";
}


<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Add user</h1>
        <div class="mb-3 form-group">
            <label for="email" class="control-label">Email</label>
            <input name="email" id="email" type="email" required class="form-control" />
        </div>
        <div class="mb-3 form-group">
            <label for="password" class="control-label">Password</label>
            <input name="password" id="password" type="password" required class="form-control" />
        </div>
        <div class="mb-3 form-group">
                    <label for="SchoolSubjectId" class="control-label">Subject</label>
                    <select name="role" id="role" class="form-select">
                         <option value="student">Student</option>
                         <option value="teacher">Teacher</option>
                    </select>
         </div>
         <div class="col-12 flex-row justify-content-end d-flex mt-3 form-group">
                  
                    <input id="addUser" type="submit" value="Add" class="btn btn-primary" />
        </div>
    </div>
    <script>
        const getRegisteredUserList1 = () => {
            const users = localStorage.getItem('registeredUsers')
                if (users && users.length > 0) {
                    const parsedUsers = JSON.parse(users)
                    return parsedUsers
            } else return []
        }
        const isUserRegistered1 = (user) => {
            const users = getRegisteredUserList()
            return users.find(val=>val.email === user.email)
        }

        const addUser1 = (user) => {
            const users = getRegisteredUserList1()
                if (isUserRegistered(user)) {
                    return false
                } 
                else {
                    users.push(user);
                    localStorage.setItem('registeredUsers', JSON.stringify(users))
                    return true
            }
        }

        const addUser = document.getElementById('addUser')
        addUser.addEventListener('click',()=>{
            const email = document.getElementById('email')
            const password = document.getElementById('password')
            const role = document.getElementById('role')
            if(email.value && password.value && role.value){
                const user = {
                    email:email.value,
                    password:password.value,
                    role:role.value
                }
                const result = addUser1(user)
                if(!result){
                    alert('Could not register user')
                } else{
                    alert('User registered')
                    email.value  = ''
                    password.value = ''
                }
                console.log('reg')
            }
            else {
                console.log('nope')
            }
        })
    </script>
</div>