@{
    ViewData["Title"] = "Index";
}


<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Login</h1>
        <div class="mb-3 form-group">
            <label for="email" class="control-label">Email</label>
            <input name="email" id="email" type="email" required class="form-control" />
        </div>
        <div class="mb-3 form-group">
            <label for="password" class="control-label">Password</label>
            <input name="password" id="password" type="password" required class="form-control" />
        </div>
         <div class="col-12 flex-row justify-content-end d-flex mt-3 form-group">
             <input id="loginBtn" type="submit" value="Login" class="btn btn-primary" />
        </div>
    </div>
    <script>
        const loginBtn = document.getElementById('loginBtn')
        loginBtn.addEventListener('click',()=>{
            const email = document.getElementById('email')
            const password = document.getElementById('password')
            const users = localStorage.getItem('registeredUsers')
            let regUsers = []
                if (users && users.length > 0) {regUsers = JSON.parse(users) }

            const result = regUsers.find(r=>(r.email === email.value && r.password === password.value))
            if(result){
                localStorage.setItem('user', JSON.stringify(result));
                window.location = 'http://localhost:5090/'

            } else {
                alert('Wrong email or password')
            }
        })
    </script>
</div>