@model school_management.Models.Student

@{
    ViewData["Title"] = "Create";
}

<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Create student</h1>
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" type="date" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label for="ClassId" class="control-label"></label>
                    <select name="ClassId" id="ClassId" class="form-select">
                        <option selected>Select class</option>
                        @foreach(var clazz in  ViewBag.Classes){
                             <option value="@clazz.Id">@clazz.Name</option>
                        }
                    </select>
                </div>
                <div class="mb-3 form-group">
                    <label for="ParentId" class="control-label"></label>
                    <select name="ParentId" id="ParentId" class="form-select">
                        @foreach(var parent in  ViewBag.Parents){
                             <option value="@parent.Id">@parent.FullName</option>
                        }
                    </select>
                </div>
                <div class="col-12 flex-row justify-content-end d-flex mt-3 form-group">
                    <div class="me-2">
                        <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
