@model school_management.ViewModels.StudentViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Student details</h1>
        <div>
            <div class="mb-3">
                <label for="FirstName" class="form-label">First name</label>
                <input readonly type="text" class="form-control" id="Name" name="FirstName" value=@Model.FirstName>
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">Last name</label>
                <input readonly type="text" class="form-control" id="LastName" name="LastName" value=@Model.LastName>
            </div>
            <div class="mb-3">
                <label for="BirthDate" class="form-label">Birth date</label>
                <input readonly type="text" class="form-control" id="BirthDate" name="BirthDate" value=@Model.BirthDate>
            </div>

            <div class="mb-3">
                <label for="ParentFullName" class="form-label">Parent</label>
                <input readonly type="text" class="form-control" id="ParentFullName" name="ParentFullName" value="@Model.ParentFullName">
            </div>

            <div class="mb-3">
                <label for="ClassName" class="form-label">Class </label>
                <input readonly type="text" class="form-control" id="ClassName" name="ClassName" value="@Model.ClassName">
            </div>

            <div class="flex-row justify-content-end d-flex mt-3">
                <div class="me-2">
                    <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                </div>
                <a asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
</div>