@model school_management.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Teacher details</h1>
        <div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">First name</label>
                <input readonly type="text" class="form-control" id="FirstName" name="FirstName" value=@Model.FirstName>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Last name</label>
                <input readonly type="text" class="form-control" id="LastName" name="LastName" value=@Model.LastName>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Birth date</label>
                <input readonly type="text" class="form-control" id="BirthDate" name="BirthDate" value=@Model.BirthDate>
            </div>

            <div class="flex-row justify-content-end d-flex mt-3">
                <div>
                    <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
