@model school_management.Models.Class

@{
    ViewData["Title"] = "Delete";
}


<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Delete class?</h1>
        <div>
            <div class="mb-3">
                <label for="Name" class="form-label">Class name</label>
                <input readonly type="text" class="form-control" id="Name" name="Name" value=@Model.Name>
            </div>
            <div class="mb-3">
                <label for="Year" class="form-label">Year</label>
                <input readonly type="text" class="form-control" id="Year" name="Year" value=@Model.Year>
            </div>
            <form asp-action="Delete" class="flex-row justify-content-end d-flex mt-3">
                <input type="hidden" asp-for="Id" />
                <div class="me-2">
                    <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                </div>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>
