@model school_management.Models.Class

@{
    ViewData["Title"] = "Details";
}

<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Class details</h1>
        <div>
            <div class="mb-3">
                <label for="Name" class="form-label">Class name</label>
                <input readonly type="text" class="form-control" id="Name" name="Name" value=@Model.Name>
            </div>
            <div class="mb-3">
                <label for="Year" class="form-label">Year</label>
                <input readonly type="text" class="form-control" id="Year" name="Year" value=@Model.Year>
            </div>

            <div class="mb-3">
                <label for="TeacherFullName" class="form-label">Teacher</label>
                <input readonly type="text" class="form-control" id="TeacherFullName" name="TeacherFullName" value="@Model.ClassTeacher.GetFullName()">
            </div>

            <div class="flex-row justify-content-end d-flex mt-3">
                <div>
                    <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>