@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color: var(--main-text-color)">
    <h1 class="display-1">Welcome</h1>
    <h3>Belowe are some news that you may be interested in</h3>
</div>
<div class="d-flex justify-content-around flex-wrap mt-5" style="width: 100%">

<div class="card text-center mx-5 my-3" style="width: 40%">
  <div class="card-body">
    <h5 class="card-title mb-4">Zmiany w planei lekcji</h5>
    <p class="card-text">Super ważne zmiany w w planie lekcji zostały zrobiobione i cza zpobaczyć co tam się stało itp.</p>
  </div>
  <div class="card-footer text-muted">
    2020-01-03
  </div>
</div>

<div class="card text-center mx-5 my-3" style="width: 40%">
  <div class="card-body">
    <h5 class="card-title mb-4">Zmiany w planei lekcji</h5>
    <p class="card-text">Super ważne zmiany w w planie lekcji zostały zrobiobione i cza zpobaczyć co tam się stało itp.</p>
  </div>
  <div class="card-footer text-muted">
    2020-01-03
  </div>
</div>

<div class="card text-center mx-5 my-3" style="width: 40%">
  <div class="card-body">
    <h5 class="card-title mb-4">Zmiany w planei lekcji</h5>
    <p class="card-text">Super ważne zmiany w w planie lekcji zostały zrobiobione i cza zpobaczyć co tam się stało itp.</p>
  </div>
  <div class="card-footer text-muted">
    2020-01-03
  </div>
</div>

</div>
