@model school_management.Models.Grade

@{
    ViewData["Title"] = "Create";
}

<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Create school subject</h1>
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 form-group">
                    <label asp-for="GradeNumber" class="control-label"></label>
                    <input asp-for="GradeNumber" class="form-control" />
                    <span asp-validation-for="GradeNumber" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label for="StudentId" class="control-label"></label>
                    <select name="StudentId" id="StudentId" class="form-select">
                        @foreach(var student in  ViewBag.Students){
                             <option value="@student.Id">@student.GetFullName()</option>
                        }
                    </select>
                </div>
                <div class="mb-3 form-group">
                    <label for="SchoolSubjectId" class="control-label"></label>
                    <select name="SchoolSubjectId" id="SchoolSubjectId" class="form-select">
                        @foreach(var schoolSubject in  ViewBag.SchoolSubjects){
                             <option value="@schoolSubject.Id">@schoolSubject.Name</option>
                        }
                    </select>
                </div>
                <div class="col-12 flex-row justify-content-end d-flex mt-3 form-group">
                    <div class="me-2">
                        <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                    </div>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
