@model school_management.Models.Grade

@{
    ViewData["Title"] = "Details";
}

<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Grade details</h1>
        <div>
            <div class="mb-3">
                <label for="GradeNumber" class="form-label">Grade</label>
                <input readonly type="text" class="form-control" id="GradeNumber" name="GradeNumber" value=@Model.GradeNumber>
            </div>
            <div class="mb-3">
                <label for="Student" class="form-label">Student</label>
                <input readonly type="text" class="form-control" id="Student" name="Student" value=@Model.Student.GetFullName()>
            </div>
            <div class="mb-3">
                <label for="SchoolSubject" class="form-label">Subject</label>
                <input readonly type="text" class="form-control" id="SchoolSubject" name="SchoolSubject" value="@Model.SchoolSubject.Name">
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input readonly type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
            </div>
            <div class="mb-3">
                <label for="Date" class="form-label">Date</label>
                <input readonly type="datetime" class="form-control" id="Date" name="Date" value="@Model.ModifiedDate">
            </div>

            <div class="flex-row justify-content-end d-flex mt-3">
                <div>
                    <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>